@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
        width: 100%;
      }
      .customers-item {
        width: calc((100% - 72px) / 2);
      }
    .team-item {
      width: calc((100% - 72px) / 4);
    } 
}    
      @media screen and (min-width: 768px) {
        .container {
          max-width: 768px;
        }
        }
        .benefists-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px
        }
        .benefists-item {
          width: calc((100% - 24px) / 2);
      }
      
      @media screen and (min-width: 1158px) {
        .container {
          max-width: 1158px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
