
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    .benefists-subtitle {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      color: var(--dark-color);
      margin-bottom: 8px;
  }
  }
